@font-face {
    font-family: "fontflow-devicons";
    src: url("./fontflow-devicons.eot?f372acdfca427159033a5f5e463bfca1#iefix") format("embedded-opentype"),
url("./fontflow-devicons.woff2?f372acdfca427159033a5f5e463bfca1") format("woff2"),
url("./fontflow-devicons.woff?f372acdfca427159033a5f5e463bfca1") format("woff");
}

.fontflow-devicons {
    font-family: fontflow-devicons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fontflow-devicons-android:before {
    content: "\f101";
}
.fontflow-devicons-angular_simple:before {
    content: "\f102";
}
.fontflow-devicons-appcelerator:before {
    content: "\f103";
}
.fontflow-devicons-apple:before {
    content: "\f104";
}
.fontflow-devicons-appstore:before {
    content: "\f105";
}
.fontflow-devicons-aptana:before {
    content: "\f106";
}
.fontflow-devicons-asterisk:before {
    content: "\f107";
}
.fontflow-devicons-atlassian:before {
    content: "\f108";
}
.fontflow-devicons-atom:before {
    content: "\f109";
}
.fontflow-devicons-aws:before {
    content: "\f10a";
}
.fontflow-devicons-backbone:before {
    content: "\f10b";
}
.fontflow-devicons-bing_small:before {
    content: "\f10c";
}
.fontflow-devicons-bintray:before {
    content: "\f10d";
}
.fontflow-devicons-bitbucket:before {
    content: "\f10e";
}
.fontflow-devicons-blackberry:before {
    content: "\f10f";
}
.fontflow-devicons-bootstrap:before {
    content: "\f110";
}
.fontflow-devicons-bower:before {
    content: "\f111";
}
.fontflow-devicons-brackets:before {
    content: "\f112";
}
.fontflow-devicons-bugsense:before {
    content: "\f113";
}
.fontflow-devicons-celluloid:before {
    content: "\f114";
}
.fontflow-devicons-chrome:before {
    content: "\f115";
}
.fontflow-devicons-cisco:before {
    content: "\f116";
}
.fontflow-devicons-clojure_alt:before {
    content: "\f117";
}
.fontflow-devicons-clojure:before {
    content: "\f118";
}
.fontflow-devicons-cloud9:before {
    content: "\f119";
}
.fontflow-devicons-coda:before {
    content: "\f11a";
}
.fontflow-devicons-code_badge:before {
    content: "\f11b";
}
.fontflow-devicons-code:before {
    content: "\f11c";
}
.fontflow-devicons-codeigniter:before {
    content: "\f11d";
}
.fontflow-devicons-codepen:before {
    content: "\f11e";
}
.fontflow-devicons-codrops:before {
    content: "\f11f";
}
.fontflow-devicons-coffeescript:before {
    content: "\f120";
}
.fontflow-devicons-compass:before {
    content: "\f121";
}
.fontflow-devicons-composer:before {
    content: "\f122";
}
.fontflow-devicons-creativecommons_badge:before {
    content: "\f123";
}
.fontflow-devicons-creativecommons:before {
    content: "\f124";
}
.fontflow-devicons-css_tricks:before {
    content: "\f125";
}
.fontflow-devicons-css3_full:before {
    content: "\f126";
}
.fontflow-devicons-css3:before {
    content: "\f127";
}
.fontflow-devicons-cssdeck:before {
    content: "\f128";
}
.fontflow-devicons-dart:before {
    content: "\f129";
}
.fontflow-devicons-database:before {
    content: "\f12a";
}
.fontflow-devicons-debian:before {
    content: "\f12b";
}
.fontflow-devicons-digital-ocean:before {
    content: "\f12c";
}
.fontflow-devicons-django:before {
    content: "\f12d";
}
.fontflow-devicons-dlang:before {
    content: "\f12e";
}
.fontflow-devicons-docker:before {
    content: "\f12f";
}
.fontflow-devicons-doctrine:before {
    content: "\f130";
}
.fontflow-devicons-dojo:before {
    content: "\f131";
}
.fontflow-devicons-dotnet:before {
    content: "\f132";
}
.fontflow-devicons-dreamweaver:before {
    content: "\f133";
}
.fontflow-devicons-dropbox:before {
    content: "\f134";
}
.fontflow-devicons-drupal:before {
    content: "\f135";
}
.fontflow-devicons-eclipse:before {
    content: "\f136";
}
.fontflow-devicons-ember:before {
    content: "\f137";
}
.fontflow-devicons-envato:before {
    content: "\f138";
}
.fontflow-devicons-erlang:before {
    content: "\f139";
}
.fontflow-devicons-extjs:before {
    content: "\f13a";
}
.fontflow-devicons-firebase:before {
    content: "\f13b";
}
.fontflow-devicons-firefox:before {
    content: "\f13c";
}
.fontflow-devicons-fsharp:before {
    content: "\f13d";
}
.fontflow-devicons-ghost_small:before {
    content: "\f13e";
}
.fontflow-devicons-ghost:before {
    content: "\f13f";
}
.fontflow-devicons-git_branch:before {
    content: "\f140";
}
.fontflow-devicons-git_commit:before {
    content: "\f141";
}
.fontflow-devicons-git_compare:before {
    content: "\f142";
}
.fontflow-devicons-git_merge:before {
    content: "\f143";
}
.fontflow-devicons-git_pull_request:before {
    content: "\f144";
}
.fontflow-devicons-git:before {
    content: "\f145";
}
.fontflow-devicons-github_alt:before {
    content: "\f146";
}
.fontflow-devicons-github_badge:before {
    content: "\f147";
}
.fontflow-devicons-github_full:before {
    content: "\f148";
}
.fontflow-devicons-github:before {
    content: "\f149";
}
.fontflow-devicons-gnu:before {
    content: "\f14a";
}
.fontflow-devicons-go:before {
    content: "\f14b";
}
.fontflow-devicons-google_analytics:before {
    content: "\f14c";
}
.fontflow-devicons-google_drive:before {
    content: "\f14d";
}
.fontflow-devicons-google-cloud-platform:before {
    content: "\f14e";
}
.fontflow-devicons-grails:before {
    content: "\f14f";
}
.fontflow-devicons-groovy:before {
    content: "\f150";
}
.fontflow-devicons-grunt:before {
    content: "\f151";
}
.fontflow-devicons-gulp:before {
    content: "\f152";
}
.fontflow-devicons-hackernews:before {
    content: "\f153";
}
.fontflow-devicons-haskell:before {
    content: "\f154";
}
.fontflow-devicons-heroku:before {
    content: "\f155";
}
.fontflow-devicons-html5_3d_effects:before {
    content: "\f156";
}
.fontflow-devicons-html5_connectivity:before {
    content: "\f157";
}
.fontflow-devicons-html5_device_access:before {
    content: "\f158";
}
.fontflow-devicons-html5_multimedia:before {
    content: "\f159";
}
.fontflow-devicons-html5:before {
    content: "\f15a";
}
.fontflow-devicons-ie:before {
    content: "\f15b";
}
.fontflow-devicons-illustrator:before {
    content: "\f15c";
}
.fontflow-devicons-intellij:before {
    content: "\f15d";
}
.fontflow-devicons-ionic:before {
    content: "\f15e";
}
.fontflow-devicons-java:before {
    content: "\f15f";
}
.fontflow-devicons-javascript_1:before {
    content: "\f160";
}
.fontflow-devicons-javascript:before {
    content: "\f161";
}
.fontflow-devicons-jekyll_small:before {
    content: "\f162";
}
.fontflow-devicons-jenkins:before {
    content: "\f163";
}
.fontflow-devicons-jira:before {
    content: "\f164";
}
.fontflow-devicons-joomla:before {
    content: "\f165";
}
.fontflow-devicons-jquery_logo:before {
    content: "\f166";
}
.fontflow-devicons-jquery_ui_logo:before {
    content: "\f167";
}
.fontflow-devicons-js_badge:before {
    content: "\f168";
}
.fontflow-devicons-komodo:before {
    content: "\f169";
}
.fontflow-devicons-krakenjs_badge:before {
    content: "\f16a";
}
.fontflow-devicons-krakenjs:before {
    content: "\f16b";
}
.fontflow-devicons-laravel:before {
    content: "\f16c";
}
.fontflow-devicons-less:before {
    content: "\f16d";
}
.fontflow-devicons-linux:before {
    content: "\f16e";
}
.fontflow-devicons-magento:before {
    content: "\f16f";
}
.fontflow-devicons-mailchimp:before {
    content: "\f170";
}
.fontflow-devicons-markdown:before {
    content: "\f171";
}
.fontflow-devicons-materializecss:before {
    content: "\f172";
}
.fontflow-devicons-meteor:before {
    content: "\f173";
}
.fontflow-devicons-meteorfull:before {
    content: "\f174";
}
.fontflow-devicons-mitlicence:before {
    content: "\f175";
}
.fontflow-devicons-modernizr:before {
    content: "\f176";
}
.fontflow-devicons-mongodb:before {
    content: "\f177";
}
.fontflow-devicons-mootools_badge:before {
    content: "\f178";
}
.fontflow-devicons-mootools:before {
    content: "\f179";
}
.fontflow-devicons-mozilla:before {
    content: "\f17a";
}
.fontflow-devicons-msql_server:before {
    content: "\f17b";
}
.fontflow-devicons-mysql:before {
    content: "\f17c";
}
.fontflow-devicons-nancy:before {
    content: "\f17d";
}
.fontflow-devicons-netbeans:before {
    content: "\f17e";
}
.fontflow-devicons-netmagazine:before {
    content: "\f17f";
}
.fontflow-devicons-nginx:before {
    content: "\f180";
}
.fontflow-devicons-nodejs_small:before {
    content: "\f181";
}
.fontflow-devicons-nodejs:before {
    content: "\f182";
}
.fontflow-devicons-npm:before {
    content: "\f183";
}
.fontflow-devicons-onedrive:before {
    content: "\f184";
}
.fontflow-devicons-openshift:before {
    content: "\f185";
}
.fontflow-devicons-opensource:before {
    content: "\f186";
}
.fontflow-devicons-opera:before {
    content: "\f187";
}
.fontflow-devicons-perl:before {
    content: "\f188";
}
.fontflow-devicons-phonegap:before {
    content: "\f189";
}
.fontflow-devicons-photoshop:before {
    content: "\f18a";
}
.fontflow-devicons-php:before {
    content: "\f18b";
}
.fontflow-devicons-postgresql:before {
    content: "\f18c";
}
.fontflow-devicons-prolog:before {
    content: "\f18d";
}
.fontflow-devicons-python:before {
    content: "\f18e";
}
.fontflow-devicons-rackspace:before {
    content: "\f18f";
}
.fontflow-devicons-raphael:before {
    content: "\f190";
}
.fontflow-devicons-rasberry_pi:before {
    content: "\f191";
}
.fontflow-devicons-react:before {
    content: "\f192";
}
.fontflow-devicons-redhat:before {
    content: "\f193";
}
.fontflow-devicons-redis:before {
    content: "\f194";
}
.fontflow-devicons-requirejs:before {
    content: "\f195";
}
.fontflow-devicons-responsive:before {
    content: "\f196";
}
.fontflow-devicons-ror:before {
    content: "\f197";
}
.fontflow-devicons-ruby_rough:before {
    content: "\f198";
}
.fontflow-devicons-ruby:before {
    content: "\f199";
}
.fontflow-devicons-rust:before {
    content: "\f19a";
}
.fontflow-devicons-safari:before {
    content: "\f19b";
}
.fontflow-devicons-sass:before {
    content: "\f19c";
}
.fontflow-devicons-scala:before {
    content: "\f19d";
}
.fontflow-devicons-scriptcs:before {
    content: "\f19e";
}
.fontflow-devicons-scrum:before {
    content: "\f19f";
}
.fontflow-devicons-senchatouch:before {
    content: "\f1a0";
}
.fontflow-devicons-sizzlejs:before {
    content: "\f1a1";
}
.fontflow-devicons-smashing_magazine:before {
    content: "\f1a2";
}
.fontflow-devicons-snap_svg:before {
    content: "\f1a3";
}
.fontflow-devicons-spark:before {
    content: "\f1a4";
}
.fontflow-devicons-sqllite:before {
    content: "\f1a5";
}
.fontflow-devicons-stackoverflow:before {
    content: "\f1a6";
}
.fontflow-devicons-streamline:before {
    content: "\f1a7";
}
.fontflow-devicons-stylus:before {
    content: "\f1a8";
}
.fontflow-devicons-sublime:before {
    content: "\f1a9";
}
.fontflow-devicons-swift:before {
    content: "\f1aa";
}
.fontflow-devicons-symfony_badge:before {
    content: "\f1ab";
}
.fontflow-devicons-symfony:before {
    content: "\f1ac";
}
.fontflow-devicons-techcrunch:before {
    content: "\f1ad";
}
.fontflow-devicons-terminal_badge:before {
    content: "\f1ae";
}
.fontflow-devicons-terminal:before {
    content: "\f1af";
}
.fontflow-devicons-travis:before {
    content: "\f1b0";
}
.fontflow-devicons-trello:before {
    content: "\f1b1";
}
.fontflow-devicons-typo3:before {
    content: "\f1b2";
}
.fontflow-devicons-ubuntu:before {
    content: "\f1b3";
}
.fontflow-devicons-uikit:before {
    content: "\f1b4";
}
.fontflow-devicons-unity_small:before {
    content: "\f1b5";
}
.fontflow-devicons-vim:before {
    content: "\f1b6";
}
.fontflow-devicons-visualstudio:before {
    content: "\f1b7";
}
.fontflow-devicons-w3c:before {
    content: "\f1b8";
}
.fontflow-devicons-webplatform:before {
    content: "\f1b9";
}
.fontflow-devicons-windows:before {
    content: "\f1ba";
}
.fontflow-devicons-wordpress:before {
    content: "\f1bb";
}
.fontflow-devicons-yahoo_small:before {
    content: "\f1bc";
}
.fontflow-devicons-yahoo:before {
    content: "\f1bd";
}
.fontflow-devicons-yeoman:before {
    content: "\f1be";
}
.fontflow-devicons-yii:before {
    content: "\f1bf";
}
.fontflow-devicons-zend:before {
    content: "\f1c0";
}
